<!DOCTYPE html>
<html>
	<head>
		<title>ALTERNIA BOUND</title>
   			<!-- link to main stylesheet -->
    			<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
<style> body { background-color:#008080; } </style>

<body>
	<h1 style="color:white;font-family:courier">ALTERNIA BOUND</h1>
			<nav>
	    		<ul style="list-style-type:none; font-size:20; font-family:verdana;">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/stories">Stories</a></li>
	    		    	<li><a href="/merchandise">Merchandise</a></li>
				<li><a href="/wiki">Wiki</a></li>
				<li><a href="/music">Music</a></li>
          		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul style="list-style-type:none">
	        		<li><a href="mailto:kwp731@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kwp731">github.com/kwp731</a></li>
				</ul>
			</footer>
		</body>
	</html>
