<!DOCTYPE html>
<html>
	
<head>
  <title>ALTERNIAN WIKI</title>
   <!-- link to main stylesheet -->
	 <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
	<style> body { background-color:#628182; } </style>
<body>
	<h1 style="color:burgundy;font-family:courier">ALTERNIAN Wiki</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/trolls">About the Trolls</a></li>
	        		<li><a href="/pics">Pictures</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		    	<li><a href="/music">Music</a></li>
          		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kwp731@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kwp731">github.com/kwp731</a></li>
				</ul>
			</footer>
		</body>
	</html>
